@page
@model WebForm.Pages.Shared.QuanLyChiPhi_SuaModel
@{
}
@{
    ViewData["Title"] = "Website Quản Lý Tour";
    Layout = "_Layout";
}
@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;
@using DTO;
@{
    var str = HttpContext.Session.GetString("editchiphidoan");
    var obj = JsonConvert.DeserializeObject<ChiPhiDTO>(str);
}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Sửa Chi Phí</h4>
                        <form class="forms-sample" method="post">
                            <div class="form-group">
                                <label for="exampleInputName1">Mã Loại</label>
                                <select asp-for="loai" class="form-control" asp-items="@(new SelectList(Model.loaichiphi,"Id_LoaiChiPhi", "Ten_LoaiChiPhi"))">
                                </select>
                                </div><input type="hidden" asp-for="chiphi.Id_LoaiChiPhi" value="@obj.Id_LoaiChiPhi">
                                      <div class="form-group">
                                          <label for="exampleInputName1">Giá</label>
                                          <input type="number" asp-for="chiphi.Gia" value="@obj.Gia" class="form-control" placeholder="Nhập Giá">
                                          <input type="hidden" asp-for="phi" value="@obj.Gia">
                                          <input type="hidden" asp-for="chiphi.Id_Doan" value="@obj.Id_Doan">
                                      </div>
                            <input type="submit" asp-page-handler="edit" value="Sửa" class="btn btn-primary mr-2" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>