@page
@model WebForm.Pages.Shared.QuanLyDoan_SuaModel
@{
    ViewData["Title"] = "Website Quản Lý Tour";
    Layout = "_Layout";
}
@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;
@using DTO;
@{
    string str = HttpContext.Session.GetString("editdoan");
    DoanDuLichDTO obj = JsonConvert.DeserializeObject<DoanDuLichDTO>(str);

    var parsedDate1 = DateTime.ParseExact(obj.Ngaykhoihanh, "dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture);
    obj.Ngaykhoihanh = parsedDate1.ToString("yyyy-MM-dd", System.Globalization.CultureInfo.InvariantCulture);
    var parsedDate2 = DateTime.ParseExact(obj.Ngayketthuc, "dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture);
    obj.Ngayketthuc = parsedDate2.ToString("yyyy-MM-dd", System.Globalization.CultureInfo.InvariantCulture);
}

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Thêm Đoàn</h4>
                        <form class="forms-sample" method="post">
                            <div class="form-group">
                                <label for="exampleInputName1">Mã Đoàn</label>
                                <input type="text" asp-for="doan.Id_Doan" required value="@obj.Id_Doan" class="form-control" readonly/>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputName1">Tên Đoàn</label>
                                <input type="text" asp-for="doan.Ten_Doan" required value="@obj.Ten_Doan" class="form-control" placeholder="Tên Đoàn"/>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputName1">Tên Tour</label>
                                <select asp-for="tour" class="form-control" asp-items="@(new SelectList(Model.listtour,"Id_Tour", "Ten_Tour"))">
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputName1">Ngày khởi hành</label>
                                <input type="date" asp-for="doan.Ngaykhoihanh" required value="@obj.Ngaykhoihanh" class="form-control" placeholder="Ngày khởi hành"/>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputName1">Ngày kết thúc</label>
                                <input type="date" asp-for="doan.Ngayketthuc" required value="@obj.Ngayketthuc" class="form-control" placeholder="Ngày kết thúc"/>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputName1">Nội dung</label>
                                <textarea class="form-control" asp-for="noidung" required id="exampleTextarea1" rows="4" placeholder="Nội dung Đoàn">
                                       </textarea>
                            </div>
                            <input type="submit" asp-page-handler="edit" value="Sửa" class="btn btn-primary mr-2" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>